<h1 class="text-3xl max-md:text-4xl text-center mt-48">Why We Stand Out</h1>

<div
  class="grid grid-cols-3 *:text-300 mx-auto mt-10 max-md:grid-cols-1  max-md:w-full max-md:px-5 gap-10 place-items-center text-left"
>
  {% comment %} card items {% endcomment %}
  <!-- item 1 -->
  <div
    class="border-[1px] border-main backdrop-blur-2xl rounded-2xl backdrop-filter bg-opacity-70"
    data-aos="zoom-in"
    data-aos-duration="2000"
  >
    <div class="card-body">
      <h2 class="text-lg font-normal text-main flex flex-col gap-2">
        <ion-icon name="card-outline" class="text-3xl text-main"></ion-icon>
        Swift Transactions
      </h2>
      <p>
        Experience lightning-fast transactions with our platform. Swift
        execution ensures you capitalize on market opportunities instantly,
        providing a seamless and efficient trading experience.
      </p>
      <div class="card-actions justify-end"></div>
    </div>
  </div>

  <!-- item 2 -->
  <div
    class="border-[1px] border-main backdrop-blur-2xl rounded-2xl backdrop-filter bg-opacity-70"
    data-aos="zoom-in"
    data-aos-duration="2000"
  >
    <div class="card-body">
      <h2 class="text-lg font-normal text-main flex flex-col gap-2">
        <ion-icon name="diamond-outline" class="text-3xl text-main"></ion-icon>
        Diverse Assets
      </h2>
      <p>
        Dive into a world of diverse assets with our platform. Explore a wide
        range of cryptocurrencies and investment opportunities tailored to your
        preferences.
      </p>
      <div class="card-actions justify-end"></div>
    </div>
  </div>

  <!-- item 3 -->

  <div
    class="border-[1px] border-main backdrop-blur-2xl rounded-2xl backdrop-filter bg-opacity-70 bg-clip-padding"
    data-aos="zoom-in"
    data-aos-duration="2000"
  >
    <div class="card-body">
      <h2 class="text-lg font-normal text-main flex flex-col gap-2">
        <ion-icon
          name="shield-checkmark-outline"
          class="text-3xl text-main"
        ></ion-icon>
        Secured Assets
      </h2>
      <p>
        Your assets are our top priority. Utilizing cutting-edge security
        measures, we ensure the utmost protection, safeguarding your investments
        with the highest standards of reliability and trust.
      </p>
      <div class="card-actions justify-end"></div>
    </div>
  </div>

  <!-- item 4 -->

  <div
    class="border-[1px] border-main backdrop-blur-2xl rounded-2xl backdrop-filter bg-opacity-70"
    data-aos="zoom-in"
    data-aos-duration="2000"
  >
    <div class="card-body">
      <h2 class="text-lg font-normal text-main flex flex-col gap-2">
        <ion-icon name="time-outline" class="text-3xl text-main"></ion-icon>
        24-H Support
      </h2>
      <p>
        Our dedicated customer support team is here 24/7 to assist you.
        Experience prompt, friendly, and knowledgeable assistance to enhance
        your overall satisfaction and trading journey.
      </p>
      <div class="card-actions justify-end"></div>
    </div>
  </div>

  <div
    class="border-[1px] border-main backdrop-blur-2xl rounded-2xl backdrop-filter bg-opacity-70"
    data-aos="zoom-in"
    data-aos-duration="2000"
  >
    <div class="card-body">
      <h2 class="text-lg font-normal text-main flex flex-col gap-2">
        <ion-icon
          name="people-circle-outline"
          class="text-3xl text-main"
        ></ion-icon>
        Expert Trading
      </h2>
      <p>
        Increase your profit rates by copying our expert trading signals, the
        trades are automated for your maximum profit
      </p>
      <div class="card-actions justify-end"></div>
    </div>
  </div>
</div>
