<section class="text-cyan-500 body-font ">
  <div class="container px-5 py-10 mx-auto">
    <div class="flex flex-wrap -m-4 text-center">
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-bold sm:text-4xl text-3xl text-cyan-500">
          2.7K
        </h2>
        <p class="leading-relaxed">Users</p>
      </div>

      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-bold sm:text-4xl text-3xl text-cyan-500">
          35+
        </h2>
        <p class="leading-relaxed">Expert Options</p>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-bold sm:text-4xl text-3xl text-cyan-500">
          $2M+
        </h2>
        <p class="leading-relaxed">In Investments</p>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-bold sm:text-4xl text-3xl text-cyan-500">
          4+
        </h2>
        <p class="leading-relaxed">Mining Options</p>
      </div>
    </div>
  </div>
</section>
