<section class="mt-24 flex flex-col gap-7  relative h-screen text-gray-300">
    <h1 class="text-5xl max-md:text-4xl font-semibold text-main ">How to Begin</h1>
    <p class="w-1/2 max-md:w-full">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magnam praesentium iure quo eius libero molestiae totam odio ullam assumenda repudiandae possimus quaerat cum, ipsa ex corrupti nobis. Nam, optio?</p>
    <!-- Steps are here, should i use a carousel component? -->
     <div class='bg-main w-full h-2/3 max-md:w-4/5  opacity-[.08]  blur-3xl absolute left-[50%] max-md:right-[50%] max-md:h-1/2 bottom-1/2 translate-y-1/2 -translate-x-1/2'></div>
    <div class="bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-50 rounded-md py-5 z-[2] bg-[rgb(0,0,0,.4)]
    grid grid-cols-4 max-md:grid-cols-1 max-md:gap-10
    ">
        <div class="flex flex-col gap-2">
            <ion-icon name="globe-outline" class="text-4xl animate-bounce mb-4"></ion-icon>
            <p class="text-lg text-main">Register</p>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi provident exercitationem perspiciatis quae totam iste id ullam, eaque eum quisquam!</p>
        </div>

                <div class="flex flex-col gap-2">
            <ion-icon name="globe-outline" class="text-4xl animate-bounce mb-4"></ion-icon>
            <p class="text-lg text-main">Register</p>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi provident exercitationem perspiciatis quae totam iste id ullam, eaque eum quisquam!</p>
        </div>

                <div class="flex flex-col gap-2">
            <ion-icon name="globe-outline" class="text-4xl animate-bounce mb-4"></ion-icon>
            <p class="text-lg text-main">Register</p>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi provident exercitationem perspiciatis quae totam iste id ullam, eaque eum quisquam!</p>
        </div>
    </div>
</section>
