<section class="mt-24 flex flex-col gap-7 text-center relative text-gray-300">
  <h1 class="text-3xl max-md:text-4xl font-normal">Register in simple steps</h1>
  <p class="w-1/2 max-md:w-full mx-auto">
    Begin your secure trading in our platform
  </p>
  <!-- Steps are here, should i use a carousel component? -->
  <div
    class="bg-main w-full h-2/3 max-md:w-11/12 opacity-[.08] blur-3xl absolute left-[50%] max-md:right-[50%] max-md:h-1/2 bottom-1/2 translate-y-1/2 -translate-x-1/2"
  ></div>
  <div
    class="bg-clip-padding text-start backdrop-filter backdrop-blur-sm bg-opacity-50 rounded-md z-[2] bg-[rgb(0,0,0,.4)] grid grid-cols-2 p-10 max-md:p-5 w-4/5 max-md:w-full mx-auto max-md:grid-cols-1 gap-10 max-md:carousel"
  >
    <div
      class="flex flex-col gap-2 rounded-md p-5 bg-opacity-70 max-md:carousel-item"
    >
      <ion-icon name="globe-outline" class="text-4xl mb-4 text-main"></ion-icon>
      <p class="text-lg text-gray-300">1. Register</p>
      <p class="">
        Register through our intuitive and seamless onboarding process
      </p>
    </div>

    <div class="flex flex-col gap-2 p-5 rounded-md max-md:carousel-item">
      <ion-icon
        name="shield-checkmark-outline"
        class="text-4xl text-main mb-4"
      ></ion-icon>
      <p class="text-lg text-gray-300">2. Get Verified</p>
      <p class="">Verify your identity by uploading your appropriate info</p>
    </div>

    <div class="flex flex-col gap-2 p-5 rounded-md max-md:carousel-item">
      <ion-icon name="card-outline" class="text-4xl mb-4 text-main"></ion-icon>
      <p class="text-lg text-gray-300">3. Deposit</p>
      <p class="">
        Fund your trading account to begin trading or copy our experts
      </p>
    </div>

    <div class="flex flex-col gap-2 p-5 rounded-md max-md:carousel-item">
      <ion-icon name="stats-chart" class="text-4xl text-main mb-4"></ion-icon>
      <p class="text-lg text-gray-300">4. Start Trading</p>
      <p class="">
        Enter the currency market with confidence and make trades, although we
        recommend using our experts for more profits
      </p>
    </div>
  </div>
</section>
