<section class="mt-24 flex flex-col gap-7  relative h-screen max-md:h-fit text-gray-400">
    <h1 class="text-5xl max-md:text-4xl font-semibold text-main ">How to Begin</h1>
    <p class="w-1/2 max-md:w-full">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magnam praesentium iure quo eius libero molestiae totam odio ullam assumenda repudiandae possimus quaerat cum, ipsa ex corrupti nobis. Nam, optio?</p>
    <!-- Steps are here, should i use a carousel component? -->
     <div class='bg-main w-full h-2/3 max-md:w-4/5  opacity-[.08]  blur-3xl absolute left-[50%] max-md:right-[50%] max-md:h-1/2 bottom-1/2 translate-y-1/2 -translate-x-1/2'></div>
    <div class="bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-50 rounded-md py-5 z-[2] bg-[rgb(0,0,0,.4)]
    grid grid-cols-4 max-md:grid-cols-1 gap-10 max-md:carousel
    ">
        <div class="flex flex-col gap-2 bg-sub rounded-md p-5 bg-opacity-70 max-md:carousel-item">
            <ion-icon name="globe-outline" class="text-4xl  mb-4 text-gray-400"></ion-icon>
            <p class="text-lg text-main">1. Register</p>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi provident exercitationem perspiciatis quae totam iste id ullam, eaque eum quisquam!</p>
              <a href="{%url 'sign-up'%}" class='border-[1px] text-main border-main w-3/5 justify-center mt-3 max-md:w-3/5 max-md:px-5 flex items-center gap-1 py-4   rounded-full hover:-translate-y-2  transition duration-150 ease-in'>Register Now <ion-icon name="chevron-forward-outline" class="text-lg"></ion-icon></a>
        </div>

                <div class="flex flex-col gap-2 p-5 rounded-md max-md:carousel-item">
            <ion-icon name="shield-checkmark-outline" class="text-4xl  text-gray-400 mb-4"></ion-icon>
            <p class="text-lg text-main">2. Get Verified</p>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi provident exercitationem perspiciatis quae totam iste id ullam, eaque eum quisquam!</p>
        </div>

                <div class="flex flex-col gap-2 p-5 rounded-md max-md:carousel-item">
            <ion-icon name="card-outline" class="text-4xl  mb-4 text-gray-400"></ion-icon>
            <p class="text-lg text-main">3. Deposit</p>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi provident exercitationem perspiciatis quae totam iste id ullam, eaque eum quisquam!</p>
        </div>

                        <div class="flex flex-col gap-2 p-5 rounded-md max-md:carousel-item">
            <ion-icon name="stats-chart" class="text-4xl text-gray-400  mb-4"></ion-icon>
            <p class="text-lg text-main">4. Start Trading</p>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi provident exercitationem perspiciatis quae totam iste id ullam, eaque eum quisquam!</p>
        </div>
    </div>
</section>
