{% extends "base.html" %}
{%load static%}
{% block content %}

<main class='bg-black  flex flex-col items-center relative   justify-center pt-28 text-gray-300 text-sm  max-md:text-xs'>

{% include "components/nav.html" %}

    {% comment %} hero-section {% endcomment %}
    <section class='w-4/5 h-screen flex max-md:flex-col self-start pb-10 max-md:bg-black  gap-10 justify-start  items-center    max-md:h-full   rounded-3xl max-md:w-full relative px-5  max-md:items-start max-md:gap-10'>
      {%include 'components/svg.html'%}
      <div class="flex flex-col gap-3 w-1/2 max-md:w-full">

         <h1 class=' text-7xl max-md:text-5xl  max-md:w-full  font-semibold animate-herotext'>Smart Trading Options at  your <span class='text-main'>Fingers</span></h1>
         <p class='pt-2 text-sm w-4/5  max-md:w-full animate-heroparagraph '>
Revolutionize your trading experience with our secure and user-friendly crypto broker platform. Trade seamlessly and explore endless possibilities!</p>
         {% comment %} button holder {% endcomment %}
         <div class='pt-4 flex '>
            <a href="{%url 'sign-up'%}" class='bg-main z-[1] text-black flex items-center gap-3 p-4 px-10 rounded-full hover:-translate-y-2  transition duration-150 ease-in'>Get Started <ion-icon name="chevron-forward-outline" class="text-lg"></ion-icon></a>
            <!-- <a href="{%url 'about'%}" class='border-2 border-main  p-3 px-10 rounded-full mx-2 flex items-center gap-3'><i class="fa-regular fa-circle-play text-main text-2xl"></i>How it Works</a> -->
         </div>
      </div>
      <!-- market ticker element here -->


                 <div class='bg-main w-full h-3/4 max-md:w-4/5    rounded-full opacity-[.1]   shadow-main blur-[50px] absolute right-[40%] max-md:right-[50%] max-md:h-full  translate-x-1/2'></div>
    </section>

  {%include 'components/homepage/markets.html'%}
    {% comment %} hero image section {% endcomment %}

{% comment %} intro section {% endcomment %}
<section class='w-full bg-sub  text-gray-300 px-5 flex justify-around text-sm max-md:justify-center max-md:gap-8 items-center py-10 max-md:flex-col'>
    <div class='w-1/3 max-md:w-full '>
        <h1 class='text-gray-400 font-medium text-lg pb-2'>Finance markets, at your fingers</h1>
        <h1 class='text-5xl max-md:text-4xl font-semibold pb-5'>Simply put, we make trading <span class='text-main'>easy</h1>
        <p>Escape common broker challenges like high fees, slow transactions, and limited assets. Our platform offers a seamless, secure experience, ensuring you navigate the crypto market effortlessly. Upgrade today</p>
            <a href="{%url 'sign-up'%}" class='bg-main text-black flex items-center gap-3 mt-4 p-4 px-10 rounded-full hover:-translate-y-2  w-1/2 max-md:w-3/5 justify-center  transition duration-150 ease-in'>Get Started <ion-icon name="chevron-forward-outline" class="text-lg"></ion-icon></a>

    </div>
    <img src="{%static 'images/side.png'%}" alt="hero-image" class=' object-cover '>
</section>
{% comment %} wallet references {% endcomment %}
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "US 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR to USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "Bitcoin"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "Ethereum"
    }
  ],
  "showSymbolLogo": true,
  "isTransparent": false,
  "largeChartUrl": "https://www.coin-mask.com/",
  "displayMode": "adaptive",
  "colorTheme": "dark",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->

{% comment %} standout session {% endcomment %}
<section class='flex flex-col  justify-between px-10 text-sm max-md:px-5 mt-10 py-10 items-center max-md:flex-col gap-5' data-aos="fade-up" data-aos-duration="2000">
    <div class='w-full max-md:w-full '>

        <h1 class='text-5xl max-md:text-4xl font-semibold  text-gray-300 w-1/2 max-md:w-full '>Our Features That Makes Trading a Seamless <span class='text-main'>Experience</h1>
        <p class=' py-5 max-md:w-full w-1/2 '>Experience unparalleled excellence with our premium crypto trading service. Unmatched security, diverse assets, and seamless transactions redefine your trading journey. Elevate your experience with us!</p>
     <a href="{%url 'sign-up'%}" class='border-main border-[1px] text-main w-1/6 justify-center mt-3 max-md:w-3/5 max-md:px-5 flex items-center gap-1 py-4   rounded-full hover:-translate-y-2  transition duration-150 ease-in'>Register Now <ion-icon name="chevron-forward-outline" class="text-lg"></ion-icon></a>
          {%include 'components/homepage/choose.html'%}
          {%include 'components/homepage/steps.html'%}
    </div>
</section>
<!-- Reviews -->
<section class="bg-black px-10 max-md:w-full my-20 text-sm  max-md:px-5" data-aos="fade-up">
    <h1 class='text-5xl max-md:text-4xl w-1/2 max-md:w-full font-semibold  text-gray-400 py-3 pb-5' >Reviews from <span class="text-main">Satisfied</span> Customers</h1>
    <p class="text-gray-300 w-1/2 max-md:w-full ">
Users praise our platform for seamless transactions, a vast array of assets, and top-notch security. Exceptional customer support enhances the overall positive trading experience.</p>
<div class="carousel rounded-box mt-10 max-md:mt-5 carousel-center bg-sub  px-5 py-10 max-md:px-0 max-md:w-full max-md:bg-black">
  <div class="carousel-item flex flex-col bg-black w-1/3 p-10 mx-5 max-md:bg-sub max-md:mx-3 max-md:w-3/5 gap-5 rounded-box justify-center ">
    <img src="{%static 'images/r1.jpg'%}" alt="reviewImage" class="h-[80px] w-[80px] rounded-full object-cover">
    <h1 class="text-base font-medium text-main">Very Secured Plaform</h1>
    <p class="">The system security is top notch, I was in need of a safe place to invest and this plaform helped alo</p>
    <span class="flex flex-col gap-1 text-sm text-gray-400">
      <span>Olive Saint</span>
    </span>
  </div>

    <div class="carousel-item flex flex-col bg-black w-1/3 p-10 mx-5 max-md:bg-sub max-md:mx-3 max-md:w-3/5 gap-5 rounded-box justify-center ">
    <img src="{%static 'images/r2.jpg'%}" alt="reviewImage" class="h-[80px] w-[80px] rounded-full object-cover">
      <h1 class="text-base font-medium text-main">Great Customer Support</h1>
    <p class="">Unmatched security backed by attentive support. I confidently explore different markets, knowing my assets are safe</p>
    <span class="flex flex-col gap-1 text-sm text-gray-400">
      <span>John Towns</span>
    </span>
  </div>

      <div class="carousel-item flex flex-col bg-black w-1/3 p-10 mx-5 max-md:bg-sub max-md:mx-3 max-md:w-3/5 gap-5 rounded-box justify-center ">
        <img src="{%static 'images/r3.jpg'%}" alt="reviewImage" class="h-[80px] w-[80px] rounded-full object-cover">
        <h1 class="text-base font-medium text-main">Easy and Fast Transactions</h1>
    <p class="">Slick transactions! I've seamlessly sold and bought crypto assets. The platform's efficiency elevates the trading experience.</p>
    <span class="flex flex-col gap-1 text-sm text-gray-400">
      <span>Nick Rose</span>
    </span>
  </div>

      <div class="carousel-item flex flex-col bg-black w-1/3 p-10 mx-5 max-md:bg-sub max-md:mx-3 max-md:w-3/5 gap-5 rounded-box justify-center ">
        <img src="{%static 'images/r4.jpg'%}" alt="reviewImage" class="h-[80px] w-[80px] rounded-full object-cover">
        <h1 class="text-base font-medium text-main">Superb Experts</h1>
    <p class="">My trading progress Increased exponentially after suscribing to the available trading experts</p>
    <span class="flex flex-col gap-1 text-sm text-gray-400">
      <span>Mark Knov</span>
    </span>
  </div>


</div>
</section>
</main>


{% endblock content %}
