{% extends "base.html" %}
{%load static%}
{% block content %}

<main class='h-screen py-10 bg-gradient-to-tr from-black to-main flex items-center justify-center text-base'>

</div>
    {% include "components/nav.html" %}
    {% include "components/alerts.html" %}
    <section class='w-full relative'>
           

            <form action="" method="post" class='w-2/5 text-sm  max-md:w-11/12 flex flex-col gap-4 mt-24 max-md:mt-0 p-10 max-md:p-5 mx-auto  bg-transparent shadow-sm   rounded-md z-50 text-white' autocomplete="off">
            {% csrf_token %}
            <p class='text-2xl font-medium '>Login to Account</p>
            <p class=' text-sm font-normal'>No account Yet ? <a href="{%url 'sign-up'%}" class='text-blue-300 pl-3'>Sign Up</a></p>
        <fieldset class='flex gap-5 flex-col'>
            <label for="email">Email</label>
            <input type="email" name="email" class='p-3 rounded-md border border-white active:border-[1px] bg-transparent ' placeholder="Your Email">
        </fieldset>
        <fieldset class='flex gap-5 flex-col'>
            <label for="">Password</label>
           <span class="relative bg-transparent border border-white rounded-md" >
            <input type="password" name="password" class='p-3 rounded-md w-full bg-transparent password '  placeholder="Your Password" >
            <span class="password-toggle absolute right-5 top-1/2 -translate-y-1/2 p-1 text-xs text-black rounded-md cursor-pointer bg-white ">Show</span>
           </span>        </fieldset>
         <p class='text-end text-white cursor-pointer'>Forgot Your Password?</p>
        <button class='bg-main p-4 rounded-full mt-5 text-white w-1/2 self-center'>Login</button>
       
    </form>
    </section>

     <script>
        let passwordEl=document.querySelector('.password')
        let toggle=document.querySelector('.password-toggle')

        toggle.addEventListener('click',()=>{
            if(passwordEl.getAttribute('type')=='password'){
                passwordEl.setAttribute('type','text')
                toggle.textContent='Hide'
            }
            else{
                passwordEl.setAttribute('type','password')
                toggle.textContent='Show'
            }
        })
    </script>
</main>
{%endblock%}
