{% extends "base.html" %} {% block content %}

<section
  class="h-[100vh] bg-black text-gray-300 text-sm max-md:px-10 flex justify-center items-center"
>
  {% include "components/nav.html" %}
  <section
    class="bg-sub animate-slide flex flex-col gap-2 items-center w-1/2 max-md:w-full p-10 rounded-md"
  >
    <!-- verify icon success -->
    <!-- <lord-icon
      src="https://cdn.lordicon.com/rvmukzut.json"
      trigger="in"
      delay="1500"
      state="in-reveal"
      colors="primary:#66ee78,secondary:#c7c116"
      style="width: 50px; height: 50px"
   >
    </lord-icon> -->
    <div class="text-center">
      <div
        class="radial-progress text-gray-200"
        style="--value: 100; --size: 4rem; --thickness: 2px"
        role="progressbar"
      >
        100%
      </div>

      <h1 class="text-gray-400 text-xl font-medium py-2">
        Registration Complete
      </h1>
      <p>check your inbox to verify your email</p>
    </div>

    <div class="text-gray-500 mt-10 flex gap-2 items-center flex-col">
      <span>Done Verifying?</span>
      <a href="{%url 'login'%}" class="bg-gray-200 text-black p-3 rounded-full"
        >Proceed to dashboard</a
      >
    </div>
  </section>
</section>

{% endblock content %}
