@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html{
    font-family: "DM Sans", sans-serif !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

iframe{
    border: none !important;
}
*{
    margin: 0;
    padding: 0;
}

input{
    outline: none;
}

input:focus{
    outline: solid 1px #94d8ff;
    border: none;
    border-color: transparent;
}

.blue-text{
    display: none;
}

.tv-embed-widget-wrapper__body{
    border: none;
}

html.theme-dark .tv-embed-widget-wrapper__body{
    background: black;
}

[x-cloak] { display: none !important; }
