<nav
  class="w-full z-40 flex px-5 items-center justify-center max-sm:justify-end py-5 bg-black fixed top-0 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-40 text-white"
>
  <a href="" class="w-1/5 text-blue-500 font-semibold absolute left-5">Logo</a>
  {% comment %} <ul class="flex justify-center gap-5 w-1/5 max-sm:hidden">
    <a href="" class="hover:text-blue-500">Home</a>
    <a href="" class="hover:text-blue-500">Support</a>
    <a href="" class="hover:text-blue-500">FAQs</a>
  </ul> {% endcomment %}
  <ul>
    <button class='border-blue-500 border-2 p-3 px-10 rounded-full bg-blue-500 absolute right-5 top-6 block max-sm:border-0 max-sm:text-blue-500 max-sm:static max-sm:hover:text-white'>Account</button>

  </ul>
</nav>
