<nav
  class="w-full z-40 flex px-5 justify-center text-xs font-light max-md:justify-end py-10 bg-black fixed right-0 top-0 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-80 text-white"
  x-data="{open:false,toggle(el){
    this.open=!this.open
    if(this.open){
      el.children[0].setAttribute('name','close-outline')
    }
    else{
      el.children[0].setAttribute('name','menu-outline')
    }
  }}"
  x-cloak
>
  <!-- login and contact -->
  <!-- <ul class="flex gap-10 absolute right-10 max-md:hidden items-center">
      <a href="mailto:finance@qxoptions.com" class="text-main flex items-center gap-3"><ion-icon name="mail" class="text-xl"></ion-icon>Contact Us</a>
    <a href="{%url 'login'%}" class=" hover:text-gray-100 transition duration-150 ease-in p-3 px-5 bg-gray-200 text-main rounded-full">Login</a>
  </ul> -->
  {% comment %} nav toggle {% endcomment %}
  <section class="text-3xl py-6 px-5 absolute top-0 w-full cursor-pointer">
    <div class="flex justify-end items-center">
      <span @click="toggle($el)" class="text-4xl"
        ><ion-icon name="menu-outline"></ion-icon
      ></span>
    </div>
  </section>

  <!-- main nav -->
  <section
    class="text-xl z-50 h-screen top-0 right-0 w-screen p-10 pt-10"
    x-show="open"
    x-transition:enter="transition duration-1000"
    x-transition:enter-start="transform translate-x-full"
    x-transition:enter-end="transform translate-x-0"
    x-transition:leave="transition duration-1000"
    x-transition:leave-start="transform"
    x-transition:leave-end="transform -translate-x-full"
  >
    <ul class="flex flex-col gap-2">
      <a
        href="{%url 'home'%}"
        class=" p-3 rounded-md hover:scale-105 transition duration-100 ease-in flex gap-3 items-center"
        ><ion-icon name="home-outline" class="text-2xl"></ion-icon>Home</a
      >
      <a
        href="{%url 'login'%}"
        class=" p-3 rounded-md hover:scale-105 transition duration-100 ease-in flex gap-3 items-center"
        ><ion-icon name="log-in-outline" class="text-2xl"></ion-icon>Login</a
      >
      <a
        href="{%url 'sign-up'%}"
        class=" p-3 rounded-md hover:scale-105 transition duration-100 ease-in flex gap-3 items-center"
        ><ion-icon name="analytics-outline" class="text-2xl"></ion-icon>Get
        Started</a
      >
      <a
        href="{%url 'about'%}"
        class=" p-3 rounded-md hover:scale-105 transition duration-100 ease-in flex gap-3 items-center"
        ><ion-icon name="help-circle-outline" class="text-2xl"></ion-icon>About
        Us</a
      >
      <a
        href="{%url 'market'%}"
        class=" p-3 rounded-md hover:scale-105 transition duration-100 ease-in flex gap-3 items-center"
      >
        <ion-icon name="mail-unread-outline" class="text-2xl"></ion-icon>
        Markets</a
      >

      <!-- <a
        href=""
        class=" p-3 rounded-md hover:scale-105 transition duration-100 ease-in"
        >Subcribe</a
      >
      <a
        href=""
        class=" p-3 rounded-md hover:scale-105 transition duration-100 ease-in"
        >Signals</a
      >
      <a
        href=""
        class=" p-3 rounded-md hover:scale-105 transition duration-100 ease-in"
        >Copy Experts</a
      > -->

      <a
        href=""
        class="p-3 rounded-md hover:scale-105 transition duration-100 ease-in text-gray-500 flex items-center gap-3"
      >
        <ion-icon name="mail-unread-outline" class="text-2xl"></ion-icon>Contact
        Us</a
      >
    </ul>
  </section>
</nav>
