<nav
  class="w-full z-40 flex px-5 items-center justify-center text-sm max-md:justify-end py-10  bg-black fixed top-0 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-40 text-white"
  x-data="{open:false}"
>
  <a href="" class=" text-main font-semibold absolute left-5 ">{% include "components/logo.html" %}</a>
  <ul class="flex justify-center items-center gap-10  max-md:hidden">
    <a href="{%url 'home'%}" class="hover:text-main transition duration-150 ease-in">Home</a>
    <a href="{%url 'market'%}" class="hover:text-main transition duration-150 ease-in">Markets</a>
    <a href="{%url 'about'%}" class="hover:text-main transition duration-150 ease-in">About </a>
      <a href="{%url 'home'%}" class="hover:text-main transition duration-150 ease-in">Mining</a>
    <a href="{%url 'market'%}" class="hover:text-main transition duration-150 ease-in">Expert Trading</a>
  </ul>
  <!-- login and contact -->
  <ul class="flex gap-10 absolute right-10 max-md:hidden items-center">
      <a href="mailto:finance@qxoptions.com" class="text-main flex items-center gap-3"><ion-icon name="send" class="text-xl"></ion-icon>Contact Us</a>
    <a href="{%url 'login'%}" class="hover:bg-main hover:text-gray-100 transition duration-150 ease-in p-3 px-5 bg-gray-200 text-black rounded-full">Login</a>
  </ul>
  {% comment %} nav toggle {% endcomment %}
  <section class='text-3xl py-6 px-5 absolute top-0   md:hidden w-full'>
    <div class='flex justify-end items-center '>
        <span @click="open=!open" class='text-4xl'><ion-icon name="menu-outline"></ion-icon></span>
    </div>
</section>

{% comment %} mobile nav {% endcomment %}
<section x-cloak class="fixed bg-gray-950 text-xl z-50 h-screen top-0 right-0  w-screen p-10 pt-10 md:hidden " x-show="open" x-transition x-transition.duration.500ms>
    <div class='flex justify-end mb-20'>

    <span class='text-xl' style='font-size:35px' span @click="open=!open"><ion-icon name="close-outline"></ion-icon></span>
    </div>
    <ul class=' flex flex-col gap-2 '>
<a href="{%url 'home'%}" class='hover:bg-main p-3 rounded-md hover:scale-105 transition duration-100 ease-in flex gap-3 items-center '><ion-icon name="home-outline" class='text-2xl'></ion-icon>Home</a>
    <a href="{%url 'login'%}" class='hover:bg-main p-3 rounded-md hover:scale-105 transition duration-100 ease-in flex gap-3 items-center '><ion-icon name="log-in-outline" class='text-2xl'></ion-icon>Login</a>
    <a href="{%url 'sign-up'%}" class='hover:bg-main p-3 rounded-md hover:scale-105 transition duration-100 ease-in flex gap-3 items-center '><ion-icon name="analytics-outline" class='text-2xl'></ion-icon>Get Started</a>
    <a href="{%url 'about'%}" class='hover:bg-main p-3 rounded-md hover:scale-105 transition duration-100 ease-in flex gap-3 items-center '><ion-icon name="help-circle-outline" class='text-2xl'></ion-icon>About Us</a>
      <a href="{%url 'market'%}" class="hover:text-main transition duration-150 ease-in">Markets</a>


    {% comment %} <a href="" class='hover:bg-main p-3 rounded-md hover:scale-105 transition duration-100 ease-in'>Subcribe</a>
    <a href="" class='hover:bg-main p-3 rounded-md hover:scale-105 transition duration-100 ease-in'>Signals</a>
    <a href="" class='hover:bg-main p-3 rounded-md hover:scale-105 transition duration-100 ease-in'>Copy Experts</a> {% endcomment %}
    <a href="" class=' p-3 rounded-md hover:scale-105 transition duration-100 ease-in text-main flex items-center gap-3'> <ion-icon name="mail-unread-outline" class='text-2xl'></ion-icon>Contact Us</a>
    </ul>
</section>
</nav>
