<div class=' flex  justify-end gap-8 items-center w-full text-sm relative  '>
<span class="flex items-center relative"><ion-icon name="notifications" class="text-3xl text-gray-700"></ion-icon> <span class="text-xs absolute text-blue-3 00 top-0 -right-2 font-semibold">0</span></span>
<span class='   gap-3 flex rounded-full  items-center justify-between' @click="profile=!profile">
<ion-icon name="person" class="text-xl bg-gray-900 p-3 rounded-full text-gray-200 cursor-pointer"></ion-icon>
<span class="text-xs max-md:hidden">{{request.user.first_name}} {{request.user.last_name}}</span>
</span>

{% include "components/account-update.html" %}
</div>
