<section class="text-gray-400">
  <h1 class="text-xl text-gray-200 font-semibold">Quick Actions</h1>

  <div class="flex justify-between text-sm mt-3 ">
    <a href="{%url 'deposits'%}" class="flex flex-col gap-1 items-center p-3 rounded-md hover:bg-gray-900 transition ease-out duration-150">
      <ion-icon name="wallet" class="text-2xl"></ion-icon>
      <span>Deposit</span>
    </a>

    <a href="{%url 'trades'%}" class="flex flex-col gap-1 items-center p-3 rounded-md hover:bg-gray-900 transition ease-out duration-150">
      <ion-icon name="card" class="text-2xl"></ion-icon>
      <span>Withdraw</span>
    </a>

    <a href="{%url 'markets'%}" class="flex flex-col gap-1 items-center p-3 rounded-md hover:bg-gray-900 transition ease-out duration-150">
      <ion-icon name="bar-chart" class="text-2xl"></ion-icon>
      <span>Charts</span>
    </a>

    <a href="{%url 'assets'%}" class="flex flex-col gap-1 items-center p-3 rounded-md hover:bg-gray-900 transition ease-out duration-150">
      <ion-icon name="cash" class="text-2xl"></ion-icon>
      <span>My Assets</span>
    </a>
  </div>
</section>
