{% extends "dbase.html" %} {%load static%} {% block content %}

<section class="bg-black text-white max-md:pt-24" x-data="assets">
  {{ wallets|json_script:"wallets"}} {% include "components/sidenav.html" %}
  {%include "components/loader.html" %} {% include "components/error.html" %}
  {%include "components/alerts.html" %} {% comment %} main content {% endcomment%}
  <div class="ml-72 max-md:ml-0 p-5 h-screen">
    <div class="max-md:hidden">{% include "components/path.html" %}</div>

    <!-- Currency toggle list -->

    <div class="flex flex-col text-sm">
      <a href="{%url 'select'%}" class="p-4 mb-5 rounded-full flex items-center justify-center gap-1 text-gray-300 bg-gray-900 w-1/6 text-xs max-md:w-2/5 max-md:text-[.65rem] text-center"> <ion-icon name="chevron-back-outline" class="text-base"></ion-icon>Deposit Methods</a>
      <h1 class="text-2xl font-medium  text-gray-300">Deposit With Card</h1>
      <p class="text-sm text-orange-400 py-3 flex items-center gap-1">
        <ion-icon name="alert-circle-outline" class="text-xl "></ion-icon>
         Your card details are secured and not stored in our databases</p>
      <!-- main container -->
      <form
        @submit="FormSimulation"
        class="bg-sub *:z-[1] animate-heroparagraph relative rounded-md gap-y-8 max-md:gap-y-3 w-1/2 justify-center max-md:w-full text-gray-300 grid grid-cols-2 max-md:grid-cols-1 gap-5 p-10 max-md:p-5"
      >
      {%include 'components/blurblob.html'%}

        <!-- item 1 -->
        <span
          class="rounded-full w-full flex flex-col [&>input]:bg-gray-800 gap-2"
        >
          <span>Card Number</span>
          <input
            type="text"
            placeholder="XXXX XXXX XXXX XXXX"
            class="p-4 w-full rounded-lg"
            maxlength="19"
            @input="CardNO($el)"
            required
          />
        </span>
        <!-- item 1 -->
        <span
          class="rounded-full w-full flex flex-col [&>input]:bg-gray-800 gap-2"
        >
          <span>CVV</span>
          <input
            type="password"
            placeholder="XXX"
            maxlength="3"
            class="p-4 w-full rounded-lg"
            required
          />
        </span>
        <!-- item 2 -->
        <span
          class="rounded-full w-full flex flex-col [&>input]:bg-gray-800 gap-2"
        >
          <span>Expiry Date</span>
          <input
            @input="checkCVV($el)"
            type="text"
            placeholder="XX/XX"
            class="p-4 w-full rounded-lg"
            maxlength="5"
            required

          />
        </span>
        <!-- item 2 -->
        <span
          class="rounded-full w-full flex flex-col [&>input]:bg-gray-800 gap-2"
        >
          <span>Amount (USD)</span>
          <input
            type="number"
            placeholder="enter amount"
            class="p-4 w-full rounded-lg"
            required
          />

        </span>
         <button class="border-main border-2 text-main max-md:mt-2 p-4 max-md:w-1/2  flex items-center gap-2 cursor-pointer justify-center rounded-full  ">Make Deposit <ion-icon name="chevron-forward-outline"></ion-icon></button>
      </form>
    </div>

    <!-- deposit history -->
  </div>
  <script src="{% static 'js/fetch-data.js'%}"></script>

  <script>
    document.addEventListener("alpine:init", () => {
      let form = new FormData(document.querySelector("form"));
      Alpine.data("assets", () => ({
        // MAKE DEPOSIT WITH THIS FUNCTION
        showLoader: false,
        showError: false,
        errorMessage: "Something went wrong",
        // the following methods checks the validity of the card inputs
        // cvv details
        checkCVV(el){
          if( (isNaN(parseInt(el.value.slice(-1))) &&(el.value.slice(-1)!='')) ){
            el.value=el.value.replace(el.value.slice(-1),'')
          }
          if((el.value.length==2) && (el.value.slice(-1)!='/')){
            el.value=`${el.value}/`
          }
        },
        CardNO(el){
          if( (isNaN(parseInt(el.value.slice(-1))) &&(el.value.slice(-1)!='')) ){
            el.value=el.value.replace(el.value.slice(-1),'')
          }
          if(el.value.length==4){
            el.value=`${el.value}-`
          }
          if(el.value.length==9){
            el.value=`${el.value}-`
          }
        if(el.value.length==14){
            el.value=`${el.value}-`
          }
        },
        // Form submit and error simulations in this funtion
        FormSimulation(el){
          el.preventDefault()
          console.log(el.target);
          this.showLoader=true
          setTimeout(()=>{
            this.showLoader=false
            this.showError=true
            this.errorMessage="Process Cancelled"
          },3000)
        },
      }));
    });
  </script>
</section>

{% endblock content %}
