{% extends "dbase.html" %} {%load static%} {% block content %}

<section class="bg-black text-white max-md:pt-24" x-data="assets">
  {{ wallets|json_script:"wallets"}} {% include "components/sidenav.html" %}
  {%include "components/loader.html" %} {% include "components/error.html" %}
  {%include "components/alerts.html" %} {% comment %} main content {% endcomment%}
  <div class="ml-72 max-md:ml-0 p-5 h-screen">
    <div class="max-md:hidden">{% include "components/path.html" %}</div>

    <!-- Currency toggle list -->

    <div class="flex flex-col text-sm">
      <a href="{%url 'select'%}" class="p-4 mb-5 rounded-full flex items-center justify-center gap-1 text-gray-300 bg-gray-900 w-1/6 text-xs max-md:w-2/5 max-md:text-[.65rem] text-center"> <ion-icon name="chevron-back-outline" class="text-base"></ion-icon>Deposit Methods</a>
      <h1 class="text-2xl font-medium pb-4 text-gray-300">Deposit With Bank</h1>
      <!-- main container -->
      <form
        class="bg-sub *:z-[1] relative animate-heroparagraph rounded-md gap-y-8 max-md:gap-y-3 w-1/2 justify-center max-md:w-full text-gray-300 grid grid-cols-2 max-md:grid-cols-1 gap-5 p-10 max-md:p-5"
      >
      {%include 'components/blurblob.html'%}

        <!-- item 1 -->
        <span
          class="rounded-full w-full flex flex-col [&>input]:bg-gray-800 gap-2"
        >
          <span>Account Name</span>
          <input
            type="text"
            placeholder="enter account name"
            class="p-4 w-full rounded-lg"
          />
        </span>
        <!-- item 1 -->
        <span
          class="rounded-full w-full flex flex-col [&>input]:bg-gray-800 gap-2"
        >
          <span>Bank Name</span>
          <input
            type="text"
            placeholder="enter bank name"
            class="p-4 w-full rounded-lg"
          />
        </span>
        <!-- item 2 -->
        <span
          class="rounded-full w-full flex flex-col [&>input]:bg-gray-800 gap-2"
        >
          <span>Bank Number</span>
          <input
            type="text"
            placeholder="enter bank number"
            class="p-4 w-full rounded-lg"
          />
        </span>
        <!-- item 2 -->
        <span
          class="rounded-full w-full flex flex-col [&>input]:bg-gray-800 gap-2"
        >
          <span>Amount</span>
          <input
            type="text"
            placeholder="enter amount"
            class="p-4 w-full rounded-lg"
          />
        </span>
         <button class="border-main border-2 text-main max-md:mt-2 p-4 max-md:w-1/2  flex items-center gap-2 cursor-pointer justify-center rounded-full  ">Make Deposit <ion-icon name="chevron-forward-outline"></ion-icon></button>
      </form>
    </div>

    <!-- deposit history -->
  </div>
  <script src="{% static 'js/fetch-data.js'%}"></script>

  <script>
    document.addEventListener("alpine:init", () => {
      let form = new FormData(document.querySelector("form"));
      const assets = JSON.parse(document.getElementById("wallets").textContent);
      Alpine.data("assets", () => ({
        // MAKE DEPOSIT WITH THIS FUNCTION
        showLoader: false,
        showError: false,
        errorMessage: "Something went wrong",
      }));
    });
  </script>
</section>

{% endblock content %}
