<div class="p-5 bg-sub w-full h-full rounded-md text-xs">
  <h1 class="text-base">Trades History</h1>
  <div class="flex gap-5 text-sm py-5 *:w-fit *:px-5 button-group">
    <button class="bg-gray-800 p-3 rounded-full px-5" @click="changeTradeType($el)">
      Open
    </button>
    <button
      class="bg-gray-800 text-gray-500 p-3 px-5 rounded-full"
      @click="changeTradeType($el)"
    >
      Closed
    </button>
    <button
      class="bg-gray-800 text-gray-500 p-3 px-5 rounded-full"
      @click="changeTradeType($el)"
    >
      Expert
    </button>
  </div>

  <!-- open trades -->

  <div class="trades open" x-transition x-transition.duration.500ms>
    <template x-for="trade in open_trades" :key="trade.id">
      <div class="flex justify-between bg-gray-800 p-5 rounded-md my-5">
        <span x-text="trade.currency"></span>
        <span x-text="trade.created"></span>
        <span x-text="'$'+trade.amount"></span>
        <span class="text-orange-400">open</span>
      </div>
    </template>
  </div>

  <!-- closed trades -->

  <div
    class="trades closed"
    x-show="false"
    x-transition
    x-transition.duration.500ms
  >
    <template x-for="trade in closed_trades" :key="trade.id">
      <div class="flex justify-between bg-gray-800 p-5 rounded-md my-5">
        <span x-text="trade.currency"></span>
        <span x-text="trade.created"></span>
        <span x-text="'$'+trade.amount"></span>
        <span class="text-green-400">closed</span>
      </div>
    </template>
  </div>

  <!-- experts trades -->

  <div
    class="trades expert"
    x-show="false"
    x-transition
    x-transition.duration.500ms
  >
    <template x-for="trade in expert_trades" :key="trade.id">
      <div class="flex justify-between bg-gray-800 p-5 rounded-md my-5">
        <span x-text="trade.currency"></span>
        <span x-text="trade.created"></span>
        <span x-text="'$'+trade.amount"></span>
        <span x-show="trade.lost" class="text-red-500">Lost</span>
        <span x-show="!trade.lost" class="text-green-500">Won</span>
        <span class="text-green-400">closed</span>
      </div>
    </template>
  </div>
</div>
