{% extends "dbase.html" %} {%load static%} {% block content %}

<section class="bg-black text-white max-md:pt-24" x-data="assets">
  {{ wallets|json_script:"wallets"}} {% include "components/sidenav.html" %}
  {%include "components/loader.html" %} {% include "components/error.html" %}
  {%include "components/alerts.html" %} {% comment %} main content {% endcomment%}
  <div class="ml-72 max-md:ml-0 p-5 h-screen">
    <div class="max-md:hidden">{% include "components/path.html" %}</div>

    <!-- Transaction toggle button list -->



    <!-- deposit history -->
  </div>
  <script src="{% static 'js/fetch-data.js'%}"></script>

  <script>
    document.addEventListener("alpine:init", () => {
      let form = new FormData(document.querySelector("form"));
      const assets = JSON.parse(document.getElementById("wallets").textContent);
      Alpine.data("assets", () => ({
        // MAKE DEPOSIT WITH THIS FUNCTION
        showLoader: false,
        showError: false,
        errorMessage: "Something went wrong",
      }));
    });
  </script>
</section>

{% endblock content %}
