{% extends "dbase.html" %}
{%load static%}

{% block content %}

<section class="bg-gray-950 h-full text-white max-sm:pt-24">
{{ wallets|json_script:"wallets"}}
{% include "components/sidenav.html" %}

{% comment %} main content {% endcomment %}
<div class="ml-72 max-sm:ml-0 p-5 ">
<div class='max-sm:hidden'>
{% include "components/path.html" %}
</div>

<!-- Currency toggle list -->

<div x-data="assets">
    <h1 class='text-2xl font-medium pb-4'>Withdraw</h1>
    <!-- main container -->
    <div class="bg-gray-900 p-10 max-sm:p-3 rounded-md  flex justify-center">

        <form action="" class="flex flex-col gap-5 w-4/5 max-sm:w-full">
                   <p class="text-sm text-gray-400 font-medium  flex items-center gap-3 max-sm:flex-col max-sm:items-start"><ion-icon name="alert-circle-outline" class="text-2xl text-green-500"></ion-icon>Fund your trading account by paying your choice of cryptocurrency and upload corresponding payment proof</p>
            <fieldset class="flex flex-col gap-2">
                <label for="">Select Currency:</label>
                <!-- default select tab -->
                <div class="w-full" @click="show=!show">
                <span  class='p-3 cursor-pointer bg-gray-950 rounded-md text-xs flex items-center justify-between gap-2 w-full '>
                <span class='flex items-center gap-5'>
                                    <img :src="currentCoin.image" alt="" class='h-[30px] w-[30]'>
                 <span class='' x-text="currentCoin.name"></span>
                </span>
                <ion-icon name="chevron-down-outline"  class='text-lg'></ion-icon>
            </span>
                </div>

                                <div class=' bottom-0 w-full bg-gray-700 flex flex-col  p-5 rounded-md '  x-show="show" x-transition x-transition.duration.500ms>


            <template x-for="asset in coins" :key="asset.name" >
                                <div class='cursor-pointer bg-gray-700 rounded-md hover:bg-gray-950 py-3 hover:px-3 transition duration-500  ease-in justify-between font-medium text-sm flex items-center gap-2' @click="setCurrentCoin(asset.name)">
            <div class='flex items-center gap-4' ><img src="" :src="asset.image" alt="" class='h-[30px] w-[30px]'>
                <span x-text="asset.name"></span>

            </template>


            </div>
            </fieldset>

            <fieldset class="flex flex-col gap-2">
                <label for="">Address:</label>
                <span class="w-full bg-gray-950 flex justify-between items-center p-3 rounded-md">
                    <input type="text" name="address" :placeholder="currentCoin.name + ' address' " class="bg-gray-950 p-2 addr w-full text-sm text-blue-500  rounded-md" >
                                    <span class='flex items-center justify-center p-3 rounded-md text-sm gap-2 bg-gray-900 '>
                                    <img :src="currentCoin.image" alt="" class='h-[20px] w-[30]'>
                 <span class='max-sm:text-xs' x-text="currentCoin.name"></span>
                </span>
                </span>
                <!-- current balance -->
                <span class="flex justify-between items-center mt-2 text-xs ">
                    Current Balance
                    <span class="font-semibold text-gray-300">0 BTC</span>
                </span>

            </fieldset>

                        <fieldset class="flex flex-col gap-2">
                <label for="">Amount:</label>
                <input type="number" :value="currentCoin.address" class="bg-gray-950 p-5 text-sm  rounded-md" placeholder="Enter amount">

            </fieldset>

        <button type="submit" class='bg-blue-600 p-3 rounded-md'>
            Withdraw
        </button>
        </form>
    </div>
</div>

<!-- deposit history -->

<div class="p-5 rounded-md w-full mt-10 bg-gray-900">
    <h1>Withdrawals</h1>

</div>

</div>
<script src="{% static 'js/fetch-data.js'%}"></script>

<script>
    document.addEventListener('alpine:init', () => {
        const assets = JSON.parse(document.getElementById("wallets").textContent);
        Alpine.data('assets', () => ({
            coins: assets,
            currentCoin:assets[0],
            setCurrentCoin(name){
                this.currentCoin=this.coins.find(item=>item.name==name)
                this.show=false
            },
            show:false,
            upload:false,
            fileName:'',
            copied:false,
            handleFileChange(e){
                this.fileName=e.target.files[0].name
                this.upload=true
            },
            async copytoClipboard(){
                let input=document.querySelector('.addr')
                try {
                    await navigator.clipboard.writeText(input.value);
                    console.log('Content copied to clipboard');
                }
                catch (err) {
                    console.error('Failed to copy: ', err);
                }
                await setTimeout(()=>{
                    this.copied=false
                },3000)
                this.copied=true
            }
        }))
    })
</script>
</section>

{% endblock content %}

